node_modules
dist
.DS_Store
*.local
.vite

# Capacitor / Android uretilen dosyalar
android/app/src/main/assets/public
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/app/build
android/build
android/.gradle
android/local.properties
android/app/release
*.apk
*.aab
